# This GitHub action updates the translation (msgmrge) based on the changed source language file

name: Update Weblate translations

on:
  push:
    branches:
      - master
    paths:
      - "addons/resource.language.en_gb/resources/strings.po"
jobs:
  weblate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.2
        with:
          fetch-depth: 0
      - name: Update Weblate
        env:
          TOKEN: "${{ secrets.b75f78e8a8e0380736d3c695fd1c6773fbcd7350 }}"
        run: | 
          curl -X POST \
            -F file=@addons/resource.language.en_gb/resources/strings.po \
            --data method=source \
            -H "Authorization: Token $TOKEN" \
            https://kodi.weblate.cloud/api/translations/kodi-core/kodi-main/en_gb/file/